@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Reason List</h2>
@if (string.IsNullOrEmpty(Model.ReasonList))
{
    <p>Loading...</p>
}
else
{
    <pre>@Model.ReasonList</pre>
}