@page
@model UserInterface.Pages.SignOutCallbackModel
@{
    ViewData["Title"] = "Sign-Out Callback";
}

<h2>Sign-Out Callback</h2>

<p>You have been logged out. You can now close this window or navigate to another page.</p>
